---
import Base from "@/layouts/Base.astro";
import Animanga from "@/components/activities/Animanga.astro";
import Spotify from "@/components/activities/Spotify.astro";
---

<Base title="Activities" description="I am reading, listening, watching these ...">
  <ul class="list-disc [&>li]:mt-2 my-6 ml-4">
    <li>
      <Spotify />
    </li>
    <li>
      Read{" "}
      <Animanga type="MANGA" />
    </li>
    <li>
      Watched{" "}
      <Animanga type="ANIME" />
    </li>
  </ul>
</Base>
