MAL_CLIENT_ID=
WAKATIME_API_KEY=waka_
LAST_FM_API_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=re_

# VERCEL KV SECRETS
KV_REST_API_URL="https://XXXXXXXXXXXX.kv.vercel-storage.com"
KV_REST_API_TOKEN=

AUTH_SECRET=
OAUTH_CLIENT_KEY=
OAUTH_CLIENT_SECRET=
