---
import ThemeToggle from "@/components/ThemeToggle";
import BlogPost from "@/layouts/BlogPost.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts = await getCollection("blog");
type Props = CollectionEntry<"blog">;

const { slug } = Astro.params;
const post = posts
  .filter((post) => !post.data.isDraft)
  .find((page) => page.slug === slug);
if (!post) return Astro.redirect("/404");
3;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl">
    {post.data.title}
    <hr />
  </h1>
  <Content />
  <div class="hidden">
    <ThemeToggle client:only />
  </div>
</BlogPost>
