---
import FormattedDate from "@/components/FormattedDate.astro";
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

const blogCollection = await getCollection("blog");

const posts = blogCollection
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf())
  .filter((post) => !post.data.isDraft);
---

<Base title="Blog" description="Rohi's blog">
  <section class="mt-6">
    {
      posts.length > 0 ? (
        <ul class="space-y-2">
          {posts.map((post) => (
            <li>
              <a
                href={`/blog/${post.slug}/`}
                class="inline-flex justify-between w-full"
              >
                <div class="font-semibold text-lg">{post.data.title}</div>
                <p class="text-muted-foreground" transition:name="date">
                  <FormattedDate date={post.data.date} />
                </p>
              </a>
            </li>
          ))}
        </ul>
      ) : (
        "Nothing published yet ... 😔"
      )
    }
  </section>
</Base>
