@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --scrollbar-thumb: 217.9 10.6% 64.9%;
    --scrollbar-track: transparent;
    --selection-background: #ccfbf1;
    --selection-foreground: #3f988f;
    --kbd-background: 216 12.2% 83.9%;
    --kbd-foreground: 220.9 39.3% 11%;
    --kbd-border: 217.9 10.6% 64.9%;
    --highlight-background: #d9f99d;
    --highlight-foreground: #fde047;
    --radius-small: 4px;
    --radius-base: 8px;
    --radius-large: 12px;
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-property: #0550ae;
    --sh-entity: #249a97;
    --sh-jsxliterals: #6266d1;
    --sh-string: #00a99a;
    --sh-keyword: #f47067;
    --sh-comment: #a19595;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --highlight-background: #713f12;
    --highlight-foreground: #fde047;
    --selection-background: #042f2e;
    --selection-foreground: #6ee7b7;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 83.1%;
    --sh-class: #2d5e9d;
    --sh-identifier: #354150;
    --sh-sign: #8996a3;
    --sh-property: #0550ae;
    --sh-entity: #249a97;
    --sh-jsxliterals: #6266d1;
    --sh-string: #00a99a;
    --sh-keyword: #f47067;
    --sh-comment: #a19595;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-moz-selection {
  @apply text-selection-foreground bg-selection-background;
}

::selection {
  @apply text-selection-foreground bg-selection-background;
}

@media (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes slideFromDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(12px);
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-from-down-and-fade-1 {
  animation: slideFromDownAndFade 0.6s ease-in-out 0.1s both;
}

.animate-slide-from-down-and-fade-2 {
  animation: slideFromDownAndFade 0.6s ease-in-out 0.2s both;
}

.animate-slide-from-down-and-fade-3 {
  animation: slideFromDownAndFade 0.6s ease-in-out 0.3s both;
}

.animate-slide-from-down-and-fade-4 {
  animation: slideFromDownAndFade 0.6s ease-in-out 0.4s both;
}

.animate-slide-from-down-and-fade-5 {
  animation: slideFromDownAndFade 0.6s ease-in-out 0.5s both;
}

.animate-slide-from-down-and-fade-6 {
  animation: slideFromDownAndFade 0.6s ease-in-out 0.6s both;
}

article {
  h1 + h2 {
    margin-top: 4px !important;
  }

  h1 + p,
  h2 + p {
    margin-top: 8px !important;
  }

  figure + h1,
  p + h1 {
    margin-top: 48px !important;
  }

  [data-highlight] {
    @apply relative;
  }

  [data-highlight]::before {
    @apply absolute inset-0 -inset-x-1 -z-10 bg-transparent transition scale-y-[1.1] content-[""] duration-500;
  }

  [data-highlight="true"]::before {
    @apply bg-selection-background text-selection-foreground scale-y-110 !important;
  }

  [data-highlight="false"]::before {
    @apply bg-transparent scale-y-100;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
