---
interface Props extends HTMLAnchorElement {}

const { href, className } = Astro.props;
const target = href.startsWith("http") ? "_blank" : "_self";
---

<a
  href={href}
  target={target}
  class:list={["bg-muted underline underline-offset-4 px-1", className]}
>
  <slot />
</a>
