---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import H1 from "@/components/typography/H1.astro";
import { generateImage } from "@/lib/utils";

const title = "Not Found";
---

<html lang="en" class="dark">
  <head>
    <BaseHead
      title={title}
      image={generateImage({ title })}
      description=""
    /></head
  >
  <body
    class="flex flex-col max-w-3xl p-4 mx-auto lg:py-8 min-h-[100svh] font-rajdhani"
  >
    <Header title="Not Found" />
    <main class="flex-1 flex justify-center items-center">
      <H1>Not Found</H1>
    </main>
    <Footer />
  </body>
</html>
