---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
---

<Base>
  <div class="space-y-4">
    <section class="inline-block">
      <img
        class="rounded-full float-left mr-6"
        alt="Rohi's github profile picture"
        src="https://avatars.githubusercontent.com/u/105811202?v=4"
        decoding="async"
        loading="eager"
      />
      <div class="space-y-4">
        <div class="text-muted-foreground text-sm">
          Noel Rohi Garcia (he/him)
        </div>
        <p>
          I&rsquo;m a Software Engineer based in Philippines, building
          full-stack web applications with <strong
            >React, Node.js, TypeScript, and MySQL</strong
          >. I like playing games, building things, watching anime series and
          watching korean drama series.
        </p>
        <p>
          Currently, I work as <strong>Full-Stack Developer at</strong>{" "}
          <strong>
            <a href="http://capex.com.ph" target="_blank">CaPEx</a>
          </strong>
           , where I enhance app for better user experience using
          <strong>
            <a href="https://www.yiiframework.com/" target="_blank">
              YII framework
            </a>
          </strong> and
          <strong>
            <a href="https://jquery.com/" target="_blank"> Jquery.</a>
          </strong>
        </p>
        <p>You&rsquo;ll find me on Discord</p>
      </div>
    </section>
    <section>
      <div class="font-bold text-lg">Featured Repositories:</div>
    </section>
  </div>
</Base>
