---
import Projects from "@/components/Projects.astro";
import Base from "@/layouts/Base.astro";
---

<Base>
  <div class="space-y-8">
    <section class="inline-block" id="about">
      <img
        class="rounded-full float-left mr-6 w-32 md:w-52"
        alt="Rohi's github profile picture"
        src="https://avatars.githubusercontent.com/u/105811202?v=4"
        decoding="async"
        loading="eager"
      />
      <div class="space-y-4">
        <div class="text-muted-foreground text-sm">
          Noel Rohi Garcia (he/him)
        </div>
        <p>
          I&rsquo;m a Software Engineer based in Philippines, building
          full-stack web applications with
          <strong>
            <a
              href="https://nextjs.org/"
              target="_blank"
              rel="noopener noreferrer"
              >React, Node.js, TypeScript,
            </a>
          </strong>
           and
          <strong>
            <a
              href="https://planetscale.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              MySQL
            </a>
          </strong>
           . I like playing games, building things, watching anime series and
          watching korean drama series.
        </p>
        <p>
          Currently, I work as <i>Full-Stack Developer</i> at
          <strong>
            <a href="http://capex.com.ph" target="_blank">CaPEx</a>
          </strong>
           , where I enhance app for better user experience using
          <strong>
            <a href="https://www.yiiframework.com/" target="_blank">
              YII framework
            </a>
          </strong> and
          <strong>
            <a href="https://jquery.com/" target="_blank"> Jquery.</a>
          </strong>
        </p>
        <!-- <p>You&rsquo;ll find me on Discord</p> -->
      </div>
    </section>
    <section>
      <div class="font-bold text-lg">Featured Repositories:</div>
      <Projects />
    </section>
  </div>
</Base>
