---
import HeaderLink from "./HeaderLink.astro";
import { author, site } from "../consts";
---

<header class="px-2 lg:px-0">
  <nav class="mx-auto">
    <div class="flex justify-between items-center" transition:name="header">
      <a href="/"><h2 class="font-bold text-lg">{author.handle}</h2></a>
      <div class="flex flex-1 flex-row justify-end gap-8">
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </div>
  </nav>
</header>
