---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { site } from "@/consts";
import { generateImage } from "@/lib/utils";

interface Props {
  title?: string;
  description?: string;
  isBlogPost?: boolean;
}

const { description } = Astro.props;

const title = Astro.props.title
  ? `${Astro.props.title} | ${site.title}`
  : site.title;

const ogTitle = Astro.props.title ? Astro.props.title : "Noel Rohi Garcia";
---

<html lang="en" class="dark">
  <head>
    <BaseHead
      title={title}
      description={description ?? site.description}
      image={generateImage({ title: ogTitle })}
    />
  </head>
  <body
    class="flex flex-col max-w-3xl p-4 mx-auto lg:py-8 min-h-[100svh] font-rajdhani"
  >
    <Header title={site.title} />
    <main class="flex-1 py-4 lg:py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
