---
import type { CollectionEntry } from "astro:content";
import Base from "./Base.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description } = Astro.props;
---

<Base title={title} description={description}>
  <article>
    <div class="prose">
      <slot />
    </div>
  </article>
</Base>
