---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import { site } from "@/consts";
import ArrowLeft from "@/components/icons/ArrowLeft.astro";
import { generateImage } from "@/lib/utils";

type Props = CollectionEntry<"blog">["data"];

const { title, description, date } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <BaseHead
      title={title}
      description={description ?? site.description}
      image={generateImage({ title, date })}
    />
  </head>
  <body
    class="flex flex-col max-w-3xl p-4 mx-auto lg:py-8 min-h-screen font-rajdhani"
  >
    <a class="flex gap-2 items-center text-muted-foreground" href="/blog">
      <ArrowLeft class="w-4 h-4" /> Back
    </a>
    <main class="flex-1 py-4 lg:py-8">
      <article class="prose space-y-4">
        <slot />
      </article>
    </main>
  </body>
</html>
